@import "tailwindcss";

/* =========================
   DESIGN TOKENS
========================= */
:root {
  /* Colors */
  --color-gray: #46463f;
  --color-brown: #260b01;
  --color-yellow: #efb920;
  --color-inputs: #f2f0eb;
  --color-white: #fcfcfc;

  /* Fonts */
  --font-primary: "Poppins", sans-serif;
}

/* =========================
   TYPOGRAPHY
========================= */
.ft-light {
  font-family: var(--font-primary);
  font-weight: 300;
}

.ft-medium {
  font-family: var(--font-primary);
  font-weight: 500;
}

.ft-bold {
  font-family: var(--font-primary);
  font-weight: 700;
}

/* =========================
   BACKGROUNDS
========================= */

.bg-input {
  background-color: var(--color-inputs);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-brown {
  background-color: var(--color-brown);
}

/* =========================
   COMPONENTS
========================= */
.btn-primary {
  background-color: var(--color-yellow);
  color: var(--color-brown);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-brown);
  color: #fff;
}

/* =========================
   TEXT COLORS
========================= */
.text-gray {
  color: var(--color-gray);
}

.text-brown {
  color: var(--color-brown);
}

/*  */

.custom-bg {
  background-color: #efb920; /* bg_yellow */
  color: #260b01;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.custom-bg:hover {
  background-color: #260b01; /* bg_brown */
  color: white;
}
