@import "tailwindcss";

/* =========================
   DESIGN TOKENS
========================= */
:root {
  /* Colors */
  --color-gray: #595951;
  --color-brown: #260b01;
  --color-yellow: #efb920;
  --color-inputs: #f2f0eb;
  --color-clear: #e5e1bd;
  --color-green: #73a53d;
  --color-red: #d82b2b;

  /* Fonts */
  --font-primary: "Poppins", sans-serif;
}

/* =========================
   TYPOGRAPHY
========================= */
.ft-light {
  font-family: var(--font-primary);
  font-weight: 300;
}

.ft-medium {
  font-family: var(--font-primary);
  font-weight: 500;
}

.ft-bold {
  font-family: var(--font-primary);
  font-weight: 700;
}

/* =========================
   BACKGROUNDS
========================= */

.bg-input {
  background-color: var(--color-inputs);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-brown {
  background-color: var(--color-brown);
}

.bg-gray {
  background-color: var(--color-inputs);
}

.bg-green {
  background-color: var(--color-green);
}
/* =========================
   BORDERS
========================= */

.br-gray {
  border-color: var(--color-gray);
}

.br-green {
  border-color: var(--color-green);
}

.br-yellow {
  border-color: var(--color-yellow);
}

.br-red {
  border-color: var(--color-red);
}

/* =========================
   COMPONENTS
========================= */
.btn-primary {
  background-color: var(--color-yellow);
  color: var(--color-brown);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-brown);
  color: #fff;
}

/* =========================
   TEXT COLORS
========================= */
.text-gray {
  color: var(--color-gray);
}

.text-brown {
  color: var(--color-brown);
}

/*  */

.custom-bg {
  background-color: #efb920; /* bg_yellow */
  color: #260b01;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.custom-bg:hover {
  background-color: #260b01; /* bg_brown */
  color: white;
}


@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation-name: toast-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}