@import "tailwindcss";

/* Text Colors */
.font_gray {
  color: #595951;
}

.font_brown {
  color: #260b01;
}

.font_inputs {
  background-color: #f2f0eb;
}

/* Background Colors */
.bg_white_card {
  background-color: #fcfcfc;
}

.bg_inputs {
  background-color: #f2f0eb;
}

.bg_yellow {
  background-color: #efb920;
}

.bg_brown {
  background-color: #260b01;
}

/* Tipografia */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.custom-bg {
  background-color: #efb920; /* bg_yellow */
  color: #260b01;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease
}
.custom-bg:hover {
  background-color: #260b01; /* bg_brown */
  color: white;
}
